<div class=""><!--homepage-->
  <div class="container">
  <div class="hero-unit">

    <!-- headin gtext -->
    <p class="ac">
      The <strong>Leader</strong> in <strong>Defect Isolation</strong></strong>
    </p>

    <!-- Carousel -->
    <div id="default_carousel" class="">
        <carousel id="carousel" interval="carouselInterval">
          <slide data-ng-repeat="slide in slides" active="slide.active">
            <div data-ng-include="slide.view"></div>
          </slide>
      </carousel>
    </div>

   <!--  <div id="macbook_carousel" class="">
        <carousel id="carousel" interval="carouselInterval">
          <slide data-ng-repeat="slide in slides2" active="slide.active">
            <img data-ng-src="{{slide.view}}" alt="" />
          </slide>
      </carousel>
    </div> -->
  </div>

  <div class="row">
    <div class="span8">
      <h1 class="lead">
        The Teseda Corporation is a high-end engineering company, providing hardware and software solutions for <b>Device Stimulus, Defect Isolation, Silicon Debug, Failure Analysis and Yield Enhancement.</b> <br/><br/>Teseda’s hardware and software solutions provide a company with increased savings in money and time. The value received from using our products will be seen immediately as they <b>help engineers to quickly debug first silicon</b>, reducing time-to-market and achieving rapid high-yield ramp of new designs.
      </h1>
    </div>
    <div class="span4">
      <!-- <h3 class="ac">FREE<small> for Solo plan</small></h3> -->
      <p class="ac">
        <a data-nw-fancybox-media title="" href="http://www.youtube.com/watch?v=6rz4WHUa4sk" rel="media-gallery"><img src="img/video-icon.jpg"/></a>
        <a class="btn btn-large btn-primary" data-nw-fancybox-media title="" href="http://www.youtube.com/watch?v=6rz4WHUa4sk" rel="media-gallery"><b>Watch Overview Video</b></a>
      </p>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="span4">
      <h2>Improve <span class="grey">Production</span></h2>
       <p>
          <ul>
            <li>Isolate defects accurately and quickly</li>
            <li>Reduce silicon debug time by up to 80%</li>
            <li>Decrease failure analysis root cause discovery from weeks to days</li>
            <li>Receive rapid yield learning</li>
            <li>Resolve problems on the test floor faster</li>
          </ul>
</p>
      <p><a class="" href="/#!/products">Read more &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Maximize <span class="grey">Profits</span></h2>
       <p>Existing Design-for-Test (DFT) tools offer limited communication between your design, debug, manufacturing and failure analysis environments resulting in longer times for new silicon debug in engineering.  Teseda’s silicon debug, failure analysis and yield solutions fully utilize the power of DFT, uniting Design, Test, Inspection, Failure Analysis and Manufacturing.  Improve time-to-market for your newest products.</p>
      <p><a class="" href="/#!/products">Read more &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Comparison <span class="grey">Value</span></h2>
      <p>Compared with EDA, LVP and EMMI, Teseda has:
        <ul>
          <li>The highest success rate for Defect Isolation</li>
          <li>Most efficient, Lowest Cost Solution</li>
          <li>High Performance Diagnostic Test Hardware</li>
          <li>Immune to Shrinking Device Technology</li>
          <li>Allows you to Work from an Office Desktop</li>
          <li>Scan Test Patterns Using ATPG</li>
          <li>Imported Native Design Information</li>
          <li>Failure Data from Production Tester Logs</li>
          <li>Physical Design and Navigation from LEF and DEF</li>
          <li>Can Provide Defect Localization information</li>
           <li>Requires FIB for Physical Fault Determination</li>
        </ul>
      </p>
      <p><a class="" href="/#!/products">Read more &raquo;</a></p>
    </div>
  </div>

  </div>
</div>
