<div class=""><!--homepage-->
  <style data-ng-bind-html="page.customStyle"></style>
  <div class="container">
    <div class="hero-unit homepage">

      <!-- headin gtext -->
      <p class="ac" data-ng-bind-html="page.title"></p>
      <!-- <a data-ng-if="global.isAdmin()" class="btn new-btn" href="/#!/pages/{{page._id}}" data-icon="d">Edit</a> -->

      <!-- Carousel -->
      <div id="default_carousel" class="">
          <carousel id="carousel" interval="carouselInterval">
            <slide data-ng-repeat="slide in banner.slides" active="slide.active">
              <div data-ng-bind-html="slide.markup"></div>
            </slide>
        </carousel>

        <!-- <ul id="carousel" data-rn-carousel data-rn-carousel-indicator class="image">
          <li ng-repeat="slide in slides" active="slide.active">
            <div data-ng-include="slide.view"></div>
          </li>
        </ul> -->
      </div>

     <!--  <div id="macbook_carousel" class="">
          <carousel id="carousel" interval="carouselInterval">
            <slide data-ng-repeat="slide in slides2" active="slide.active">
              <img data-ng-src="{{slide.view}}" alt="" />
            </slide>
        </carousel>
      </div> -->
    </div>

  <div class="row">
    <div class="span8">
      <h1 class="lead" data-ng-bind-html="page.subheading"></h1>
    </div>
    <div class="span4">
      <!-- <h3 class="ac">FREE<small> for Solo plan</small></h3> -->
      <p class="ac">
        <a data-nw-fancybox-media title="" data-ng-href="{{page.overviewVideo}}" rel="media-gallery"><img src="img/video-icon2.png"/></a>
        <a class="btn btn-large btn-primary" data-nw-fancybox-media title="" data-ng-href="{{page.overviewVideo}}" rel="media-gallery"><b>Watch Overview Video</b></a>
      </p>
    </div>
  </div>

  <hr />

   <div data-ng-bind-html="page.content"></div>

  </div>
</div>
