
<div class="nav">

  <div class="item brand">Infowrap</div>
  <div class="divider"></div>
  <div
    class="item current-wrap"
    >
    <div
      class="hover"
      data-ng-click="changeProjectRoute()"
      >
      <div data-icon="switch"></div>
      <span class="title" data-bb-project-title="currentProject.name"></span>
    </div>
    <div class="dropdown meta">
      <ul style="text-align:left;">
        <li>
          <a
            data-ng-click="changeRoute('/')"
            class="bold-divider"
            >
            <span class="title">Home</span>
            <!-- <span class="meta">23</span> -->
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
