<div class="hero-unit">
      <!-- <h1 class="ac">News/Events</h1><br /> -->
      <p class="ac">
        The latest <strong>news and articles</strong> from around the industry
      </p>
      <div data-ng-if="global.isModerator() && !showNewForm" class="btn new-btn" data-icon="d" data-ng-click="openNewForm()">New</div>
  </div>

  <hr />

  <!-- #blog -->
  <div class="row" id="blog">

    <!-- posts -->
    <div class="span8">

      <!-- Example of image blog item
      ================================================== -->
      <article class="post image-post" data-ng-repeat="post in posts">

        <!-- entry media -->
        <a data-ng-href="/#!/news/{{post._id}}" class="entry-media">
          <img data-ng-src="{{global.imagePath()}}{{post.image}}" alt="" />
        </a>

        <!-- entry body -->
        <div class="entry-body">
          <a data-ng-href="/#!/news/{{post._id}}">
            <h2 class="entry-title">
              Negative-U Properties for Point Defects in Silicon
            </h2>
          </a>
          <p>Experimental evidence is presented in support of a recent suggestion by Baraff, Kane, and Schlüter that the isolated lattice vacancy in silicon is an Anderson negative-U system. The second donor level (+/++) (of charge state + if defect level is occupied by an electron; ++, if unoccupied) is located at Ev+0.13 eV, above a first donor level (0/+) at Ev+0.05 eV.</p>
        </div>

        <!-- entry meta -->
        <div class="entry-meta">
          <span class="entry-type"></span>
          <span class="entry-date">{{post.created|date:'mediumDate'}}</span>
          <!-- <span class="entry-comments"> 12 comments</span> -->
        </div>

        <!-- clearfix -->
        <div class="clr"></div>

      </article><!-- end item -->

      <!-- Example of video blog item
      ================================================== -->
      <article class="post video-post">

        <a href="blog-single.html" class="entry-media">
          <iframe src="http://player.vimeo.com/video/54353836?portrait=0&amp;title=0&amp;byline=0&amp;autoplay=0" width="600" height="340" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </a>
        <div class="entry-body">
          <a href="blog-single.html">
            <h2 class="entry-title">Example blog post</h2>
          </a>
          <p>Cupcake ipsum dolor sit amet wafer gummi bears pudding applicake. Jujubes brownie powder. Sweet roll powder gingerbread gummies. Cupcake ice cream sweet roll pie lollipop. </p>
        </div>
        <div class="entry-meta">
          <span class="entry-type"></span>
          <span class="entry-date">Jun 13, 2013</span>
          <span class="entry-comments"> 12 comments</span>
        </div>
        <div class="clr"></div>

      </article><!-- end item -->

      <!-- Default blog item
      ================================================== -->
      <article class="post">

        <a href="blog-single.html" class="entry-media">
          <img src="assets/13.gif" alt="" />
        </a>
        <div class="entry-body">
          <a href="blog-single.html">
            <h2 class="entry-title">Example blog post</h2>
          </a>
          <p>Cupcake ipsum dolor sit amet wafer gummi bears pudding applicake. Jujubes brownie powder. Sweet roll powder gingerbread gummies. Cupcake ice cream sweet roll pie lollipop. </p>
        </div>
        <div class="entry-meta">
          <span class="entry-type"></span>
          <span class="entry-date">Jun 13, 2013</span>
          <span class="entry-comments"> 12 comments</span>
        </div>
        <div class="clr"></div>

      </article><!-- end item -->

      <hr />

      <!-- Pagination
      ================================================== -->
      <div class="pagination">
        <ul>
          <li><a href="#">&larr; Prev</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">Next &rarr;</a></li>
        </ul>
      </div>

    </div><!-- end .span8 -->

    <!-- Sidebar with widgets
    ================================================== -->
    <div class="sidebar span4">

      <!-- search plugin -->
      <div class="widget">
        <input type="search" class="animated" placeholder="Search" />
      </div>

      <!-- Tags / categories -->
      <div class="widget">
        <h4>Categories</h4>
        <div data-tag-manager>
        </div>
      </div>

      <!-- List widget with custom list icons -->
      <!-- <div class="widget">
        <h4>Archive</h4>
        <ul class="list-style">
          <li><i class="icon-chevron-right"></i> Device Stimulus</li>
          <li><i class="icon-chevron-right"></i> Defect Isolation</li>
          <li><i class="icon-chevron-right"></i> Silicon Debug</li>
          <li><i class="icon-chevron-right"></i> Yield Enhancement</li>
        </ul>
      </div> -->

      <!-- Example of tabs widget -->
      <!-- <div class="widget stacked">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
          <li class=""><a href="#profile" data-toggle="tab">Profile</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade active in" id="home">
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor.</p>
          </div>
          <div class="tab-pane fade" id="profile">
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor.</p>
          </div>
        </div>
      </div> -->

      <!-- Simple text widget -->
      <!-- <div class="widget">
        <p>Cupcake ipsum dolor sit amet wafer gummi bears pudding applicake. Jujubes brownie powder. Sweet roll powder gingerbread gummies. </p>
      </div> -->

    </div><!-- end sidebar -->

  </div><!-- end #blog -->
