<div class="hero-unit">
      <!-- <h1 class="ac">News/Events</h1><br /> -->
      <p class="ac" data-ng-bind-html="page.title"></p>
      <div data-ng-if="global.isModerator() && !showNewForm" class="btn new-btn" data-icon="d" data-ng-click="openNewForm()">New</div>
  </div>

  <div class="container" data-ng-if="showNewForm && global.isModerator()">
    <hr/>
    <h3 style="text-align:center;margin: 0 0 10px;">{{editing|booleanText:'Edit':'New'}}</h3>
    <form class="form-horizontal" >
        <p style="font-style:italic; color:red;" data-ng-show="failed">Page failed to update.</p>
        <fieldset>
          <div class="control-group">
                  <label class="control-label"  for="create-title">Title</label>
                  <div class="controls">
                    <input type="text" id="create-title" placeholder="Title" name="title" class="input-xlarge" data-ng-model="activePost.title">
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label"  for="create-content">Content</label>
                  <div class="controls">
                    <textarea id="create-content" placeholder="Content" name="content" class="input-xlarge" data-ng-model="activePost.content" style="width:500px;height:300px;"></textarea>
                  </div>
                </div>

                <div class="control-group" data-ng-if="!uploadedImage">
                  <div
                      data-lvl-file-upload
                     auto-upload='true'
                     choose-file-button-text='Choose image'
                     upload-file-button-text='Upload image'
                     upload-url='/files'
                     max-files='1'
                     max-file-size-mb='5'
                     get-additional-data='getData(files)'
                     on-done='done(files, data)'
                     on-progress='progress(percentDone)'
                     on-error='error(files, type, msg)'/>
                </div>
                <div class="control-group" data-ng-if="uploadedImage">
                  <div data-preview-image="uploadedImage"></div>
                </div>


          <div class="control-group" data-ng-hide="fileUploading">
            <div class="controls">
              <button class="btn btn-primary" data-ng-click="create(activePost)">{{editing|booleanText:'Update':'Save'}}</button>
              <button class="btn" data-ng-click="toggleNew(false)">Cancel</button>
              <button class="btn btn-danger" data-ng-click="remove(activePost)" style="float:right;" data-ng-if="editing">Delete</button>
            </div>
          </div>
          <div class="control-group" data-ng-show="fileUploading">
            <div class="controls">
              <span style="font-style:italic;">File uploading...</span>
            </div>
          </div>
        </fieldset>
      </form>
      <hr/>
    </div>

  <!-- #blog -->
  <div class="row" id="blog">

    <!-- posts -->
    <div class="span8">

      <!-- Example of image blog item
      ================================================== -->
      <article class="post" data-ng-class="{'image-post':post.image}" data-ng-repeat="post in posts | filter:searchNews">

        <!-- entry media -->
        <a data-ng-href="/#!/news/{{post._id}}" class="entry-media" data-ng-if="post.image">
          <img data-ng-src="{{$root.global.imagePath()}}{{$parent.post.image}}" alt=""
            data-post-id="{{$parent.post._id}}"
            data-lvl-drop-target="true"
            data-on-drop="tagConnect(dragEl, dropEl)"/>
        </a>

        <!-- entry body -->
        <div class="entry-body">
          <a data-ng-href="/#!/news/{{post._id}}">
            <h2 class="entry-title" data-ng-bind-html="$parent.post.title"
              data-post-id="{{$parent.post._id}}"
            data-lvl-drop-target="true"
            data-on-drop="tagConnect(dragEl, dropEl)">
            </h2>
          </a>
          <p data-ng-bind-html="limitedContent(post)"></p>
        </div>

        <!-- entry meta -->
        <div class="entry-meta">
          <span class="entry-type"></span>
          <span class="entry-date">{{post.created|date:'mediumDate'}}</span>
          <!-- <span class="entry-comments"> 12 comments</span> -->
        </div>

        <!-- clearfix -->
        <div class="clr"></div>

        <!-- tags -->
        <div class="tags-list" data-ng-if="post.tags.length">
          <ul class="tags">
            <li ng-repeat="tag in post.tags">
              <a data-ng-click="removeTagFromPost(tag, post)">{{tag.name}}</a>
            </li>
          </ul>
        </div>

        <div data-ng-if="global.isModerator()" class="btn edit-news" data-icon="d" data-ng-click="editPost(post)">Edit</div>

        <hr />
      </article><!-- end item -->

      <article class="post" data-ng-if="posts.length == 0">

        <!-- entry body -->
        <div class="entry-body">
          <h2>{{tagSelectionOn|booleanText:'No news or articles found with the selected categories.':'No news or articles have been posted yet.'}}</h2>
          <p></p>
        </div>

        <!-- clearfix -->
        <div class="clr"></div>

        <hr />
      </article><!-- end item -->

      <!-- Pagination
      ================================================== -->
      <!-- <div class="pagination" data-ng-if="posts.length > 30">
        <ul>
          <li><a href="#">&larr; Prev</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">Next &rarr;</a></li>
        </ul>
      </div> -->

    </div><!-- end .span8 -->

    <!-- Sidebar with widgets
    ================================================== -->
    <div class="sidebar span4">

      <!-- search plugin -->
      <div class="widget">
        <input type="search" class="animated" placeholder="Search" data-ng-model="searchNews.$" />
      </div>

      <!-- Tags / categories -->
      <div class="widget">
        <h4>Categories</h4>
        <div data-tag-manager data-type="posts">
        </div>
      </div>

      <!-- List widget with custom list icons -->
      <!-- <div class="widget">
        <h4>Archive</h4>
        <ul class="list-style">
          <li><i class="icon-chevron-right"></i> Device Stimulus</li>
          <li><i class="icon-chevron-right"></i> Defect Isolation</li>
          <li><i class="icon-chevron-right"></i> Silicon Debug</li>
          <li><i class="icon-chevron-right"></i> Yield Enhancement</li>
        </ul>
      </div> -->

      <!-- Example of tabs widget -->
      <!-- <div class="widget stacked">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
          <li class=""><a href="#profile" data-toggle="tab">Profile</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade active in" id="home">
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor.</p>
          </div>
          <div class="tab-pane fade" id="profile">
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor.</p>
          </div>
        </div>
      </div> -->

      <!-- Simple text widget -->
      <!-- <div class="widget">
        <p>Cupcake ipsum dolor sit amet wafer gummi bears pudding applicake. Jujubes brownie powder. Sweet roll powder gingerbread gummies. </p>
      </div> -->

    </div><!-- end sidebar -->

  </div><!-- end #blog -->
