<div class="hero-unit">
    <div class="ac">
      <p><strong>Pages</strong></p>
      <div style="text-align:right;" data-ng-if="global.isAdmin()">
        <div data-ng-if="global.isWebAdmin() && !showNewForm" class="btn new-btn" data-icon="d" data-ng-click="openNewForm()">New</div>
      </div>
      <div class="clr"></div>
    </div>
  </div>

  <div class="container" data-ng-if="showNewForm">
    <hr/>
    <h3 style="text-align:center;margin: 0 0 10px;"><span>{{editing|booleanText:'Edit':'New'}}</span><span data-ng-if="editing" style="display:inline-block;margin-left:10px;">"{{activePage.navName}}"</span></h3>
    <form class="form-horizontal" >
        <p style="font-style:italic; color:red;" data-ng-show="failed">Page failed to update.</p>
        <fieldset>

          <div class="control-group">
                  <label class="control-label"  for="create-title">Title</label>
                  <div class="controls">
                    <input type="text" id="create-title" placeholder="Title" name="title" class="input-xlarge" data-ng-model="activePage.title">
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label"  for="create-sub">Sub Heading</label>
                  <div class="controls">
                    <textarea id="create-sub" placeholder="Sub Heading" name="subheading" class="input-xlarge" data-ng-model="activePage.subheading" style="width:500px;height:100px;"></textarea>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label"  for="create-content">Content</label>
                  <div class="controls">
                    <textarea id="create-content" placeholder="Content" name="content" class="input-xlarge" data-ng-model="activePage.content" style="width:500px;height:200px;"></textarea>
                  </div>
                </div>

                <div class="control-group" data-ng-if="global.isWebAdmin()">
                  <label class="control-label"  for="create-route">Page Route</label>
                  <div class="controls">
                    <input type="text" id="create-route" placeholder="Page shortname" name="route" class="input-xlarge" data-ng-model="activePage.route">
                  </div>
                </div>

                <div class="control-group" data-ng-if="activePage.route == 'home'">
                  <label class="control-label"  for="create-video">Overview Video</label>
                  <div class="controls">
                    <input type="text" id="create-video" placeholder="Video URL" name="overviewVideo" class="input-xlarge" data-ng-model="activePage.overviewVideo">
                  </div>
                </div>

                <hr/>

                <div class="control-group" data-ng-if="global.isWebAdmin()">
                  <label class="control-label"  for="create-navShow">Show in Top Navigation</label>
                  <div class="controls">
                    <input type="checkbox" id="create-navShow" name="navShow" class="input-xlarge" data-ng-model="activePage.navShow">
                  </div>
                </div>

                <div class="control-group" data-ng-if="activePage.navShow">
                  <label class="control-label"  for="create-navname">Top Navigation Name</label>
                  <div class="controls">
                    <input type="text" id="create-navname" placeholder="Navigation Name" name="navName" class="input-xlarge" data-ng-model="activePage.navName">
                  </div>
                </div>

                <div class="control-group" data-ng-if="global.isWebAdmin()">
                  <label class="control-label"  for="create-nav-order">Navigation Order</label>
                  <div class="controls">
                    <select id="create-nav-order" name="order" class="input-xlarge" data-ng-model="activePage.order">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select>
                  </div>
                </div>

                <hr/>
                <div>
                  <div class="control-group" data-ng-if="global.isWebAdmin()">
                    <label class="control-label"  for="create-banner">Show Slideshow</label>
                    <div class="controls">
                      <input type="checkbox" id="create-banner" name="showBanner" class="input-xlarge" data-ng-model="activePage.showBanner">
                    </div>
                  </div>
                  <!-- <div class="control-group" data-ng-if="activePage.route=='home'">
                    <label class="control-label"  for="create-banner">Show Slideshow</label>
                    <div class="controls">
                      <input type="checkbox" id="create-banner" name="showBanner" class="input-xlarge" data-ng-model="activePage.showBanner">
                    </div>
                  </div> -->
                </div>

          <div class="control-group">
            <div class="controls">
              <button class="btn btn-primary" data-ng-click="create(activePage)">{{editing|booleanText:'Update':'Save'}}</button>
              <button class="btn" data-ng-click="toggleNew(false)">Cancel</button>
              <button class="btn btn-danger" data-ng-click="remove(activePage)" style="float:right;">Delete</button>
            </div>
          </div>
        </fieldset>
      </form>
      <hr/>
    </div>

<div class="container">
  <div style="margin:0 0 10px 12px;font-style:italic;text-align:center;"><strong>Click to edit page</strong> or <strong>Drag to re-order navigation</strong></div>
  <ul class="software-overview-list page-sortable-list" data-ng-class="{resorting:updatingSort}" data-ui-sortable="sortableOptions" ng-model="pages" style="width:150px;margin:0 auto;">
    <li data-ng-repeat="page in pages" class="sortable-item" data-page-id="{{page._id}}">
      <a data-ng-click="editPage(page)">{{page.navName}}</a>
    </li>
    <li data-ng-if="updatingSort" style="font-style:italic;">One moment, re-sorting navigation...</li>
  </ul>
</div>
