<div data-ng-controller="PartnersCtrl">
  <div class="hero-unit">
      <!-- <h1 class="ac">News/Events</h1><br /> -->
      <p class="ac">
        We thank our <strong>partners</strong> for leadership and support
      </p>
  </div>

  <hr />
  <div class="faq">
    <ul class="partners">
      <li data-ng-repeat="partner in partners">
        <a data-ng-href="{{partner.link}}" target="_blank">
          <img data-ng-src="{{partner.logo}}" alt="{{partner.name}}"/>
        </a>
      </li>
    </ul>


  </div>
</div>
