<div>
  <style data-ng-bind-html="page.customStyle"></style>
  <div class="hero-unit">
    <div class="container">
      <!-- <h1 class="ac">Suite of Products</h1> -->
      <p class="ac" data-ng-bind-html="page.title"></p>
      <!-- <a data-ng-if="global.isAdmin()" class="btn new-btn" href="/#!/pages/{{page._id}}" data-icon="d">Edit</a> -->
      <p style="max-width:700px; text-align:center; margin:0 auto;" data-ng-if="page.subheading" data-ng-bind-html="page.subheading"></p>
    </div>
  </div>

  <div data-ng-if="global.isAdmin()" class="clr" style="margin: 0 0 15px;text-align:center;">
    <a class="btn" href="/#!/products/edit" data-icon="d">Edit Products</a>
  </div>
  <div class="row pricing">
    <div class="span4" data-ng-repeat="product in products">
      <div class="well">
        <h2 class="item-{{$index}}"><a data-ng-href="/#!{{product.shortUrl}}" data-ng-bind-html="product.name"></a></h2>
        <div class="product-features">
          <p data-ng-bind-html="product.description"></p>
          <div data-ng-bind-html="product.featureList"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12" data-ng-bind-html="page.content">
    </div>
  </div>
</div>

