<div class="hero-unit">
    <div class="ac">
      <!-- <h1>Video Tutorials</h1> -->
      <p data-ng-bind-html="page.title"></p>
      <div data-ng-if="global.isModerator()" class="btn btn-primary" style="float:right;" data-ng-click="openNewForm()">New</div>
    </div>
  </div>

  <div id="portfolio" data-teseda-isotope>

    <!-- portfolio filter -->
    <ul id="portfolio-filter" class="nav nav-tabs">
      <li class="active"><a class="filter" data-filter="*">All</a></li>
      <li><a class="filter" data-filter=".ds">Device Stimulus</a></li>
      <li><a class="filter" data-filter=".di">Defect Isolation</a></li>
      <li><a class="filter" data-filter=".sd">Silicon Debug</a></li>
      <li data-ng-if="global.isSignedIn()"><a class="filter" data-filter=".tu">Tutorials</a></li>
    </ul>

    <!-- portfolio items -->
    <div class="row" id="portfolio-items">

      <!-- portfolio item-->
      <div class="span4 project zoom" data-tags="ds">

        <a class="thumbnail" href="/">
          <!-- image -->
          <img src="assets/1.gif" alt="" />
          <!-- name -->
          <b class="project-name">Title</b>
        </a>
      </div>
      <!-- end portfolio item-->

      <!-- portfolio item-->
      <div class="span4 project zoom" data-tags="di">

        <a class="thumbnail" href="/">
          <!-- image -->
          <img src="assets/2.gif" alt="" />
          <!-- name -->
          <b class="project-name">Title</b>
        </a>
      </div>
      <!-- end portfolio item-->

      <!-- portfolio item-->
      <div class="span4 project zoom" data-tags="sd">

        <a class="thumbnail" href="/">
          <!-- image -->
          <img src="assets/3.gif" alt="" />
          <!-- name -->
          <b class="project-name">Title</b>
        </a>
      </div>
      <!-- end portfolio item-->

      <!-- portfolio item-->
      <div data-ng-if="global.isSignedIn()" class="span4 project zoom" data-tags="tu">

        <a class="thumbnail" href="/">
          <!-- image -->
          <img src="assets/4.gif" alt="" />
          <!-- name -->
          <b class="project-name">Exclusive Tutorial</b>
        </a>
      </div>
      <!-- end portfolio item-->

      <!-- portfolio item-->
      <div class="span4 project zoom" data-tags="sd">

        <a class="thumbnail" href="/">
          <!-- image -->
          <img src="assets/5.gif" alt="" />
          <!-- name -->
          <b class="project-name">Title</b>
        </a>
      </div>
      <!-- end portfolio item-->

      <!-- portfolio item-->
      <div class="span4 project zoom" data-tags="di">

        <a class="thumbnail" href="/">
          <!-- image -->
          <img src="assets/6.gif" alt="" />
          <!-- name -->
          <b class="project-name">Title</b>
        </a>
      </div>
      <!-- end portfolio item-->

      <!-- portfolio item-->
      <div class="span4 project zoom" data-tags="ds">

        <a class="thumbnail" href="/">
          <!-- image -->
          <img src="assets/7.gif" alt="" />
          <!-- name -->
          <b class="project-name">Title</b>
        </a>
      </div>
      <!-- end portfolio item-->

      <!-- portfolio item-->
      <div class="span4 project zoom" data-tags="sd">

        <a class="thumbnail" href="/">
          <!-- image -->
          <img src="assets/8.gif" alt="" />
          <!-- name -->
          <b class="project-name">Title</b>
        </a>
      </div>
      <!-- end portfolio item-->
    </div>

  </div>
