
//- script(type='text/javascript', src='lib/lodash/dist/lodash.compat.min.js')
//- script(type='text/javascript', src='lib/jquery/jquery.min.js')

//- script(type='text/javascript', src='lib/jquery-ui/ui/minified/jquery.ui.core.min.js')
//- script(type='text/javascript', src='lib/jquery-ui/ui/minified/jquery.ui.widget.min.js')
//- script(type='text/javascript', src='lib/jquery-ui/ui/minified/jquery.ui.mouse.min.js')
//- script(type='text/javascript', src='lib/jquery-ui/ui/minified/jquery.ui.sortable.min.js')

//- script(type='text/javascript', src='lib/infowrap-angular/build/angular.min.js')
//- script(type='text/javascript', src='lib/infowrap-angular/build/angular-cookies.min.js')
//- script(type='text/javascript', src='lib/infowrap-angular/build/angular-resource.min.js')
//- script(type='text/javascript', src='lib/infowrap-angular/build/angular-sanitize.min.js')
//- script(type='text/javascript', src='lib/infowrap-angular/build/angular-route.min.js')
//- script(type='text/javascript', src='lib/infowrap-angular/build/angular-touch.min.js')

//- script(type='text/javascript', src='lib/angular-ui-utils/modules/highlight/highlight.js')
//- script(type='text/javascript', src='js/vendor/ui-bootstrap-custom-tpls-0.10.0.js')
//- script(type='text/javascript', src='lib/angular-ui-sortable/src/sortable.js')
//- script(type='text/javascript', src='lib/infowrap-ng-table/ng-table.src.js')
//- script(type='text/javascript', src='lib/infowrap-isotope/jquery.isotope.js')
//- script(type='text/javascript', src='lib/infowrap-angular-isotope/dist/infowrap-angular-isotope.js')

//- script(type='text/javascript', src='js/theme/jquery.hotkeys.min.js')
//- script(type='text/javascript', src='js/theme/jquery.touchSwipe.js')
//- script(type='text/javascript', src='js/theme/functions.js')
//- script(type='text/javascript', src='js/fancybox/jquery.fancybox.pack.js')
//- script(type='text/javascript', src='js/fancybox/helpers/jquery.fancybox-buttons.js')
//- script(type='text/javascript', src='js/fancybox/helpers/jquery.fancybox-media.js')

//- script(type='text/javascript', src='js/lvl-uuid.js')
//- script(type='text/javascript', src='js/lvl-drag-drop.js')
//- script(type='text/javascript', src='js/lvl-file-upload.js')
//- script(type='text/javascript', src='js/lvl-xhr-post.js')

//- script(type='text/javascript', src='js/app.js')
//- script(type='text/javascript', src='js/config.js')
//- script(type='text/javascript', src='js/directives.js')
//- script(type='text/javascript', src='js/filters.js')

//- script(type='text/javascript', src='js/services/app.services.js')
//- script(type='text/javascript', src='js/services/global.js')
//- script(type='text/javascript', src='js/services/banners.js')
//- script(type='text/javascript', src='js/services/slides.js')
//- script(type='text/javascript', src='js/services/products.js')
//- script(type='text/javascript', src='js/services/users.js')
//- script(type='text/javascript', src='js/services/posts.js')
//- script(type='text/javascript', src='js/services/videos.js')
//- script(type='text/javascript', src='js/services/tags.js')
//- script(type='text/javascript', src='js/services/images.js')
//- script(type='text/javascript', src='js/services/pages-cache.js')
//- script(type='text/javascript', src='js/services/pages.js')
//- script(type='text/javascript', src='js/services/specs.js')
//- script(type='text/javascript', src='js/services/search.js')
//- script(type='text/javascript', src='js/services/softwares.js')

//- script(type='text/javascript', src='js/controllers/app.controllers.js')
//- script(type='text/javascript', src='js/controllers/header.js')
//- script(type='text/javascript', src='js/controllers/footer.js')
//- script(type='text/javascript', src='js/controllers/home.js')
//- script(type='text/javascript', src='js/controllers/partners.js')
//- script(type='text/javascript', src='js/controllers/register.js')
//- script(type='text/javascript', src='js/controllers/login.js')
//- script(type='text/javascript', src='js/controllers/banner-edit.js')
//- script(type='text/javascript', src='js/controllers/products.js')
//- script(type='text/javascript', src='js/controllers/product-edit.js')
//- script(type='text/javascript', src='js/controllers/users.js')
//- script(type='text/javascript', src='js/controllers/posts.js')
//- script(type='text/javascript', src='js/controllers/videos.js')
//- script(type='text/javascript', src='js/controllers/tags.js')
//- script(type='text/javascript', src='js/controllers/images.js')
//- script(type='text/javascript', src='js/controllers/pages.js')
//- script(type='text/javascript', src='js/controllers/about.js')
//- script(type='text/javascript', src='js/controllers/contact.js')
//- script(type='text/javascript', src='js/controllers/specs.js')
//- script(type='text/javascript', src='js/controllers/support.js')
//- script(type='text/javascript', src='js/controllers/search.js')
//- script(type='text/javascript', src='js/controllers/downloads.js')

//- script(type='text/javascript', src='js/init.js')


//- DIST
script(type='text/javascript', src='js/dist/teseda.min.js')
