<footer data-ng-controller="FooterController">
  <div class="container">
    <div class="row">
      <div class="span4">
        <h3>Teseda</h3>
        <ul>
          <li data-ng-repeat="page in pages" data-ng-class="{active:isPageActive(page.route)}"><a data-ng-href="/#!/{{page.route}}">{{page.navName}}</a></li>
        </ul>
      </div>
      <div class="span4 social-networks">
        <h3>Follow us on LinkedIn</h3>
        <a href="http://www.linkedin.com/company/teseda-corporation" title="Follow us on LinkedIn" target="_blank" class="icon-linkedin"></a>
      </div>
      <div class="span4">
        <h3>Newsletter</h3>
        <p>Subscribe to our newsletter bringing you the latest industry news and cutting edge tips.</p>
        <form id="mc-embedded-subscribe-form" action="http://teseda.us7.list-manage.com/subscribe/post?u=c8d25a7c7239754f04f613cf5&amp;id=33ddbbc322" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="novalidate" class="validate ng-pristine ng-valid">
          <input id="mce-EMAIL" type="email" value="" name="EMAIL" placeholder="Enter your email" required="required" class="email"/>
          <input id="mc-embedded-subscribe" type="submit" value="Subscribe" name="subscribe" class="btn btn-primary"/>
        </form>
      </div>
    </div>
  </div>
  <div id="footer-extra">
    <div class="container">
      <div class="row">
        <div class="span4 ng-binding">© 2007—{{currentYear}} Teseda Corporation</div>
        <div class="span4">
          <i class="icon-phone"></i>
          <a href="tel:8668373321">(866) TESEDA1</a>|<a href="tel:8668373321">(866) 837-3321</a>
        </div>
        <div class="span4">
          <i class="icon-envelope"></i><a href="mailto:info@teseda.com">info@teseda.com</a>
        </div>
      </div>
    </div>
  </div>
</footer>
