<!-- <div class="navbar-inner" ng-controller="HeaderController">
	<ul class="nav">
	  <li><a class="brand" href="/">Teseda</a></li>
	  <li ng-repeat="entry in navbarEntries" ng-show="global.isSignedIn()"><a href="#!/{{entry.link}}">{{entry.title}}</a></li>
	</ul>
	<ul class="nav pull-right" ng-hide="global.isSignedIn()">
		<li><a href="signup">Signup</a></li>
		<li class="divider-vertical"></li>
		<li><a href="signin">Signin</a></li>
	</ul>
	<ul class="nav pull-right" ng-show="global.isSignedIn()">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				{{global.currentUser().name}} <b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li ><a href="/signout">Signout</a></li>
			</ul>
		</li>
	</ul>
</div> -->

<div class="navbar" data-ng-controller="HeaderController">
  <div class="navbar-inner" data-ng-class="{expanded:!navCollapsed}">
    <div class="container" data-ng-class="{expanded:!navCollapsed}">

      <a class="btn btn-navbar" data-ng-click="navCollapsed = !navCollapsed" data-icon="0">
      </a>
      <!-- <a class="btn btn-navbar icon-user" href="/#!/support" data-ng-if="!global.isSignedIn()">Login</a> -->
      <a class="brand" href="/" data-icon="a"></a>
      <a class="brand arc" href="/" data-icon="b"></a>
      <div class="nav-collapse" collapse="navCollapsed">
        <ul class="nav">
          <li data-ng-repeat="page in pages" data-ng-class="{active:isPageActive(page.route)}"><a data-ng-href="/#!/{{page.route}}">{{page.navName}}</a></li>
        </ul>

      </div><!--/.nav-collapse -->
      <ul class="loginbar pull-right">
          <li>
              <i class="icon-phone"></i>
              <a href="tel:5032233315">503-223-3315</a>
          </li>
          <li class="devider"></li>
          <li>
              <i class="icon-search"></i>
              <a data-ng-click="toggleTopSearch()">Search</a>
            </li>
          <li class="devider"></li>
          <li data-ng-if="!global.isSignedIn()">
            <i class="icon-user"></i>
            <a data-ng-click="toggleTopLogin()">Login</a>
          </li>
          <li data-ng-if="global.isSignedIn()">
            <a data-ng-click="toggleAccountDetail()">{{global.currentUser().name}}</a>
          </li>
      </ul>
      <div class="search-input-top" data-ng-show="search.active">
        <input type="search" class="input-xlarge" data-ng-model="search.input" placeholder="Search" autofocus/>
      </div>
      <div class="login-input-top" data-ng-show="loginForm.active">
        <form action="/users/session" method="post">
            <fieldset>
              <div class="control-group">
                <div class="controls">
                  <input type="text" id="username" placeholder="Your email" name="username" class="input-xlarge">
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <input type="password" id="password" placeholder="Password" name="password" class="input-xlarge">
                </div>
              </div>


              <div class="control-group last">
                <div class="controls">
                  <button class="btn btn-success">Login</button>
                  <span style="color:#666;font-size:12px; margin-left:8px;">Need a login? <a href="/#!/support?t=r">Register</a></span>
                </div>
              </div>
            </fieldset>
          </form>
      </div>

      <div class="login-input-top" data-ng-show="accountDetail.active" style="text-align:right; width:150px;">
          <a href="/#!/support">View Account</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/signout">Log Out</a>
      </div>
    </div><!-- end .container -->
  </div><!-- end .navbar-inner -->
</div><!-- end .navbar -->
