<div class="hero-unit">
    <div class="ac">
      <!-- <h1>Detailed Specifications</h1> -->
      <p><strong>Specifications</strong>&nbsp;&nbsp;Get the details.</p>
    </div>
  </div>

  <div id="explore">
    <!-- <div class="row">
      <div class="span12">
        <ul class="the-icons">
          <li rel="tooltip" data-title="Some title"><i class="icon-search"></i></li>
          <li rel="tooltip" data-title="Some title"><i class="icon-envelope"></i></li>
          <li rel="tooltip" data-title="Some title"><i class="icon-heart"></i></li>
          <li rel="tooltip" data-title="Some title"><i class="icon-star"></i></li>
          <li rel="tooltip" data-title="Some title"><i class="icon-user"></i></li>
          <li rel="tooltip" data-title="Some title"><i class="icon-ok"></i></li>
          <li rel="tooltip" data-title="Some title"><i class="icon-remove"></i></li>
          <li rel="tooltip" data-title="Some title"><i class="icon-zoom-in"></i></li>
          <li rel="tooltip" data-title="Some title"><i class="icon-signal"></i></li>
          <li rel="tooltip" data-title="Some title"><i class="icon-cog"></i></li>
          <li rel="tooltip" data-title="Some title"><i class="icon-home"></i></li>
          <li rel="tooltip" data-title="Some title"><i class="icon-time"></i></li>
          <li rel="tooltip" data-title="Some title"><i class="icon-road"></i></li>
          <li rel="tooltip" data-title="Some title"><i class="icon-inbox"></i></li>
          <li rel="tooltip" data-title="Some title"><i class="icon-refresh"></i></li>
        </ul>
      </div>
    </div> -->

    <hr />

    <div class="row">
      <div class="span8">
        <h3>V550 Engineering Test</h3>
        <a class="download-spec" data-icon="e" href="downloads/datasheets/SCAN_WORKBENCH_ DATASHEET.docx" target="_blank">Download (.pdf)</a>
        <p>
          Teseda’s award-winning products encompass both innovative and software solutions.
        </p>
        <p>
            Our V550™ Engineering Test system is a low-cost, highly integrated benchtop test system for debug and failure analysis.  The Teseda Workbench™ (TWB) is the software-based interactive environment for the Teseda Hardware System.
        </p>
      </div>
      <div class="span4">
        <p>
          <img rel="tooltip" title="Some title" alt="" class="thumbnail fr" src="img/products/Teseda-V550-Engineering-Test-System.jpg" width="240" />
        </p>
      </div>
    </div>

    <hr />

    <div class="row">

      <div class="span3">
        <p>
          <img rel="tooltip" title="Some title" alt="" class="thumbnail" src="img/products/DC-Field-Triage-Automated-Curve-Tracing.jpg" width="200" />
        </p>
      </div>
      <div class="span9">
        <h3>The Teseda Diagnostic Manager™</h3>
         <a class="download-spec" data-icon="e" href="downloads/datasheets/SCAN_WORKBENCH_ DATASHEET.docx" target="_blank">Download (.pdf)</a>
        <!-- <p>
          FOSD arose out of layer-based designs and levels of abstraction in network protocols and extensible database systems in the late-1980s [1].
        </p> -->
        <p>
          This software system enables our customers to quickly map scan failures to physical locations on the die, accelerating root-cause fault diagnosis and minimizing the time FA engineers spend finding the fault location on the die.
        </p>
      </div>

    </div>

    <hr />

    <div class="row">
      <div class="span8">
        <h3>Scan Workbench™</h3>
        <a class="download-spec" data-icon="e" href="downloads/datasheets/SCAN_WORKBENCH_ DATASHEET.docx" target="_blank">Download (.pdf)</a>
        <p>
        <!--   FOSD arose out of layer-based designs and levels of abstraction in network protocols and extensible database systems in the late-1980s [1].
        </p> -->
        <p>
         This software brings the power of TWB to production test, specifically to the popular Teradyne IG-XL™ ATE programming environment.  Scan Workbench brings the power of Teseda’s DFT-enabled software debug tools to Teradyne’s J750™, FLEDX™ and  UltraFLEX™ platforms.
        </p>
      </div>
      <div class="span4">
        <p>
          <img alt="" rel="tooltip" title="Some title" class="thumbnail fr" src="img/products/DC-Device-Characterization.jpg" width="240" />
        </p>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="span3">
        <p>
          <img alt="" rel="tooltip" title="Some title" class="thumbnail fr" src="img/products/Desktop-Silicon-Debug-And-Failure-Analysis.jpg" width="240" />
        </p>

      </div>
      <div class="span9">
          <h3>DC Field Triage Package</h3>
        <a class="download-spec" data-icon="e" href="downloads/datasheets/SCAN_WORKBENCH_ DATASHEET.docx" target="_blank">Download (.pdf)</a>
        <p>
        <!--   FOSD arose out of layer-based designs and levels of abstraction in network protocols and extensible database systems in the late-1980s [1].
        </p> -->
        <p>
         Allows rapid field screening of quality issues, thus reducing the overall failure analysis process by eliminating “no trouble found” devices and offloading factory FA labs.  Using the DC Failure Analysis Package can reduce Factory Failure Analysis Loading by as much as 40%.
        </p>
      </div>
    </div>

    <hr />

    <!-- <div class="well ac">
      <h3>
        Start right now!
        <a href="plans.html" title="Try it for yourself.">
          Sign up
        </a>&rarr;
      </h3>
    </div> -->
  </div>
