<div class="contact-scroller">
  <p class="list-a scroll-to-selected">A</p>
  <p class="list-b scroll-to-selected">B</p>
  <p class="list-c scroll-to-selected">C</p>
  <p class="list-d scroll-to-selected">D</p>
  <p class="list-e scroll-to-selected">E</p>
  <p class="list-f scroll-to-selected">F</p>
  <p class="list-g scroll-to-selected">G</p>
  <p class="list-h scroll-to-selected">H</p>
  <p class="list-i scroll-to-selected">I</p>
  <p class="list-j scroll-to-selected">J</p>
  <p class="list-k scroll-to-selected">K</p>
  <p class="list-l scroll-to-selected">L</p>
  <p class="list-m scroll-to-selected">M</p>
  <p class="list-n scroll-to-selected">N</p>
  <p class="list-o scroll-to-selected">O</p>
  <p class="list-p scroll-to-selected">P</p>
  <p class="list-q scroll-to-selected">Q</p>
  <p class="list-r scroll-to-selected">R</p>
  <p class="list-s scroll-to-selected">S</p>
  <p class="list-t scroll-to-selected">T</p>
  <p class="list-u scroll-to-selected">U</p>
  <p class="list-v scroll-to-selected">V</p>
  <p class="list-w scroll-to-selected">W</p>
  <p class="list-x scroll-to-selected">X</p>
  <p class="list-y scroll-to-selected">Y</p>
  <p class="list-z scroll-to-selected">Z</p>
  <p class="list-numeric scroll-to-selected">#</p>
  </div>
