<div
  class="hide fade"
  close="modalClose($event)"
  data-options="{backdrop:false}"
  data-modal="modalEnabled"
  >
  <div
    class="modal-header"
    >
    <button
      aria-hidden="true"
      class="close"
      data-dismiss="modal"
      data-ng-hide="inBookmarkedProjectFlow()"
      data-ng-click="modalClose($event)"
      data-icon="close"
      type="button"
      ></button>
    <h3 data-ng-show="modalTitle" data-ng-bind-html="modalTitle">
    </h3>
  </div>
  <div
    class="modal-body"
    >
    <div data-ng-include="modalTemplateUrl"></div>
  </div>
  <div class="modal-busy"></div>
</div>
