<div ng-init="showControls=false;" ng-mouseenter="pause(); showControls=true;" ng-mouseleave="play(); showControls=false;" class="carousel">
    <div class="carousel-inner" ng-transclude data-ng-swipe-left="next()" data-ng-swipe-right="prev()"></div>
    <a ng-click="prev()" class="carousel-control left" ng-class="{on:showControls}">&lsaquo;</a>
    <a ng-click="next()" class="carousel-control right" ng-class="{on:showControls}">&rsaquo;</a>
    <div class="carousel-indicator-container">
      <ol class="carousel-indicators">
          <li ng-repeat="slide in slides()" ng-class="{active: isActive(slide)}" ng-click="select(slide)"></li>
      </ol>
    </div>
</div>
